
<!DOCTYPE html>
<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<style>
    html, body {
      height: 100%;
    }
</style>
<body>
    <div id="div1">
        hello
    </div>
    <div style="height: 100%; width:100%;">
        {% if query[-3:]=="mp3" %}
        <audio src="/static/{{query}}" width="90%" id="embedHere" controls autoplay></audio>
        {% elif query[-3:]=="mp4" %}
        <video src="/static/{{query}}" id="embedHere" width="100%" controls autoplay></audio>
        {% else %}
            <embed src="/static/{{query}}" id="embedHere" width="100%" height="100%">
        {%endif%}

    </div>
</body>
<script>
    var check_url="/check?file="+"{{query}}"
    $(document).ready(function(){
      setInterval(function(){
        $.ajax({url: window.check_url, success: function(result){
            if(result=='1'){
                window.reload()
            }
        }});
      },10000);
    });
</script>