<!doctype html>
<html>
   <body>
      <h1>Hello {{ name }}!</h1>
      <input type="text" id="inpField" onkeyup="updateForm()" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
      <script>
        const socket = io('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'Connected!'})
        })
        function updateForm() {
           let x = document.getElementById('inpField')
           socket.emit('typed', {data: x.value})
        }
      </script>            
   </body>
</html>
