.list{
	height: 20px;
	width: 100%;
	background-color: cyan;
	margin: 5px;
	border: black 2px;
	color: #f0932b;
}
.tags
{

}
.boxi{
	height: 50px;
	width:50px;
	color:cyan;
	border-radius: 5%;
}
input[type=file]{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;

}